<form id="form_create_client" name="coolerCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewCooler")</span>
        </h4>
    </div>
    <div class="modal-body">

        <div class="row clearfix" style="margin-top:10px;">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <select id="clientId" ng-model='vm.cooler.clientId' ng-change="vm.changeClient()"
                                    ng-options="client.id as (vm.currentLanguage == 'zh-CN' ? client.name : client.nameEn) for client in vm.clients" class="form-control">
                                <option value="">---@L("PleaseSelect")---</option>
                            </select>
                            <label for="clientId" class="form-label">@L("AssignedClient")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <select id="userId" ng-model='vm.cooler.userId'
                                    ng-options="user.id as user.userName for user in vm.users" class="form-control">
                                <option value="">---@L("PleaseSelect")---</option>
                            </select>
                            <label for="userId" class="form-label">@L("AssignedUser")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="slothId" type="text" name="Code" ng-model="vm.cooler.slothId" required class="validate form-control">
                        <label for="slothId" class="form-label">@L("Id")</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line focused">
                        <select id="province" ng-model='vm.cooler.province' ng-change="vm.changeProvince()" class="form-control">
                            <option value="">---@L("PleaseSelect")---</option>
                            <option ng-repeat="province in vm.provinces" value="{{province.name}}">{{province.name}}</option>
                        </select>
                        <label for="province" class="form-label">@L("Province")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line focused">
                        <select id="city" ng-model='vm.cooler.city' ng-change="vm.changeCity()" class="form-control">
                            <option value="">---@L("PleaseSelect")---</option>
                            <option ng-repeat="city in vm.cities" value="{{city.name}}">{{city.name}}</option>
                        </select>
                        <label for="city" class="form-label">@L("City")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line focused">
                        <select id="area" ng-model='vm.cooler.area' class="form-control">
                            <option value="">---@L("PleaseSelect")---</option>
                            <option ng-repeat="district in vm.districts" value="{{district}}">{{district}}</option>
                        </select>
                        <label for="area" class="form-label">@L("Area")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="name" type="text" name="Name" ng-model="vm.client.name" required class="validate form-control">
                        <label for="name" class="form-label">@L("ClientName")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nameen" type="text" name="NameEn" ng-model="vm.client.nameEn" required class="validate form-control">
                        <label for="nameen" class="form-label">@L("ClientEnglishName")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="isactive" type="checkbox" name="IsActive" ng-model="vm.client.isActive" checked class="form-control" />
                        <label for="isactive" class="form-label">@L("IsActive")</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="clientCreateForm.$invalid">
            @L("Save")
        </button>
    </div>

</form>
<script src="~/App/Main/views/coolers/cityData.js"></script>