<form id="form_create_client" name="clientCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewClient")</span>
        </h4>
    </div>
    <div class="modal-body">

        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="code" type="text" name="Code" ng-model="vm.client.code" required class="validate form-control">
                        <label for="code" class="form-label">@L("Code")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="name" type="text" name="Name" ng-model="vm.client.name" required class="validate form-control">
                        <label for="name" class="form-label">@L("ClientName")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nameen" type="text" name="NameEn" ng-model="vm.client.nameEn" required class="validate form-control">
                        <label for="nameen" class="form-label">@L("ClientEnglishName")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="isactive" type="checkbox" name="IsActive" ng-model="vm.client.isActive" checked class="form-control" />
                        <label for="isactive" class="form-label">@L("IsActive")</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="clientCreateForm.$invalid">
            @L("Save")
        </button>
    </div>

</form>